/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

.flex-container-col {
    display: flex;
    flex-flow: column wrap;
    justify-content:space-between;
    
  }

.debug {
    border:1px solid white;
}


html {

    font-family: 'Montserrat', sans-serif;

}

body {
    background-color: #141922;
    color: white;

}

.wrapper {
    height: 100vh;
    width: 100%;
}

.wrapper-content {
    width: 100%;
    height: calc(100% - 90px);
    display: flex;
    
}


aside {
    width: 230px;
    background-color: black;
    padding: 0px 10px 10px;
}

aside .logo {
    height: 90px;
}

aside .logo img {
    width: 80%;
    padding:10px 0;
}

aside .up-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


aside ul li .icon {
    padding-right:10px;
    }

aside ul:hover li {
    border-left: 2px solid #adff2f;
}


.playlist h4{
    padding: 10px 0px;
    text-transform: uppercase;
}

.playlist ul li {
    padding: 10px 0px;
}

.big{
    font-size: 2.4em;
    vertical-align: middle;
}


.download{
    border-bottom: 1px solid #d2d2d2;
    padding-bottom: 5%;
    
}

.user {
    padding-top: 5%;
}










main {
 width: calc(100% - 230px);

}

nav.top {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.3);
}

.main-content {
 height: 100%;
 width: 100%;
 overflow-y: auto;
 padding-top:90px;

}

footer {
    height: 90px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
    left: 0;
}